@charset "utf-8";
/* CSS Document */
h1
		{ color: #8C06FF;
		text-align: center;
			
	}
header{
	padding:0;
}
p
{
	padding-left:1%;
}
Container{
	width: 100%;
		
}
.picturebox{
	float:left;
	width: 30%;
}
.textbox{
	float:left;
	width: 70%;
}
.text{
	padding-left: 2%;
}